/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Rancho&display=swap');
/* fonts */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}




body{
  background-image: url(".//components/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#nav{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px groove white;
  background-image: linear-gradient(150deg, rgb(255, 140, 0), rgba(192, 81, 202, 0.445)80% )
  
}
ul {

  display: flex;

  
}
 


li a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 20px;
  color: rgb(255, 255, 255);
 
 
  font-size: 20px;
}
li a:hover{
  color: black;
  text-shadow: 8px 8px 5px rgb(107, 104, 104) ;
}
  
#logo{
 font-family: 'Rancho', cursive;
 font-size: 45px;
  margin-left: 20px;
}

.butt{
  font-size: 15px;
  padding: 8px;
  border-radius: 8px;
  margin-right: 15px;
  color: white;
  border: 2px ridge rgba(255, 255, 255, 0.651) ;
  border: none;
  box-shadow: 5px 5px 3px rgb(83, 58, 87) ;
  background-color: rgb(223, 42, 66);
}

/* ............... body............ */

.set{
  display: flex;
}
.side{
 
 height: 100vh;
 backdrop-filter: blur(5px);
 box-shadow: 0 35px 45px rgba(0,0,0,0.3);
 border: 1px solid rgba(255,255,255,0.5);
 border-right: 1px solid rgba(255,255,255,0.2);
 border-bottom: 1px solid rgba(255,255,255,0.2);
 background: rgba(255, 255, 255, 0.1);
 flex-grow: 3;

}


@media only screen and (max-width:1000px){
.side{
  display:none;
}
}


.logsec{
  
  height: 100vh;
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logbody{
  
  display: flex;
  flex-direction: column;
  position: relative;
  width: 370px;
  min-height: 400px;
  /* background: rgba(255,255,255,0.1); */
  background: #f3a629c2;
  background: rgba(247, 185, 185, 0.753);

  /* border-radius: 10px; */
  border-radius: 0px 30px 0px 30px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.3);
 
}

.logbody form{
    
    align-items: center;
  }
  /* ..................login/ register heading........ */
.para1{
  font-size: 30px;
  font-weight: 600;
  /* text-align: center; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -28px;
  left: -90px;

}
.para2{
  font-size: 27px;
  font-weight: 600;
  /* text-align: center; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -16px;
  left: -90px;

}
.inp input {
  margin: 12px;
    width: 290px;
    font-size: 16px;
    border-style: none;
    /* background-color: rgba(255,255,255,0.2); */
    background-color: rgba(248, 220, 220, 0);
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* border: 1px solid rgba(255,255,255,0.5); */
    border: 2px solid rgba(0, 0, 0, 0.5);
    /* border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3); */
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}
.inp input::placeholder{
  /* color: #fff; */
  color: rgb(119, 118, 118);
}



.but{
  
  text-align: center;
  
}
.but input{
   background-color: rgb(20, 16, 83);
   color: rgb(255, 255, 255);
   /* max-width: 100px; */
   font-weight: 600;
   margin-bottom: 20px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.808);

  
}
.but input:hover{
  background-color: rgba(57, 215, 255, 0.918);
}
.hyper p{
  text-align: center;
  font-size: 15px;
  /* color: #fff; */
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.hyper p a{
 
  /* color: #fff; */
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.logbody .glass{
  position: absolute;
  backdrop-filter: blur(20px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s* var(--i));
}
@keyframes animate{
  0%,100%{
    transform:translateY(-40px);
  }
  50%{
    transform:translateY(40px);
  }
}


.logbody .glass:nth-child(1){
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
  --i:0;
}
.logbody .glass:nth-child(2){
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
  --i:1;
}
.logbody .glass:nth-child(3){
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
  --i:2;
}
.logbody .glass:nth-child(4){
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
  --i:3;
  
}
.logbody .glass:nth-child(5){
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
  --i:4;
  
}
.wel p{
  position: relative;
}
.wel p:nth-child(1){
  top: 250px;
  left: 30px;
  font-size: 45px;
 
  font-weight: 600;
}
.wel p:nth-child(2){
  top: 260px;
  left: 180px;
  font-size: 80px;

  font-weight: 600;
  font-family: 'Rancho', cursive;
}